@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
.header {
	background: #f2f2f2;
	width: 100%;
	height: 100px;
}
.margin30 {
	margin: 30px;
}
.margin10 {
	margin: 10px;
}
.floatRight {
	float: right;
	margin: 0;
}
.logo {
	font-family: 'Kanit', sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #1987ff;
	cursor: pointer;
}
